---
maxResults: 10
layout: layout.njk
pagination:
  data: "sites"
  size: 1
  alias: vertical
permalink: "/{{ (sites[vertical].name or vertical) | slug }}/"
counts:
  performance: 0
  accessibility: 0
  bestPractices: 0
  seo: 0
  perfect: 0
  total: 0
---
{% include "categories-template.njk" %}
