---
layout: home.njk
maxResults: 1
pagination:
  data: "sites"
  size: 1
  alias: vertical
counts:
  performance: 0
  accessibility: 0
  bestPractices: 0
  seo: 0
  perfect: 0
  total: 0
---
{% if sites|length > 1 %}
<table class="leaderboard leaderboard-list">
	<caption>Choose a category</caption>
	<thead data-sr-only>
		<tr>
			<th>Category</th>
			<th>Site Count</th>
			<th>Last Run Date</th>
		</tr>
	</thead>
	<tbody>
	{%- for key, category in sites %}
		{%- if not category.hide %}
		<tr>
			<td><a href="{{ ('/' + (category.name or key) | lower | slug + '/') | url }}">{{ category.description or category.name or key }}</a></td>
			<td><span class="count">×{{ category.urls.length }}<span class="leaderboard-hide-sm"> site{% if category.urls.length != 1 %}s{% endif %}</span></span></td>
			<td class="leaderboard-hide-sm">{% if lastruns[key].timestamp %}<span class="small"><timestamp-ago timestamp="{{ lastruns[key].timestamp }}">{{ lastruns[key].timestamp | displayDate | safe }}</timestamp-ago></span>{% endif %}</td>
		</tr>
		{%- endif %}
	{%- endfor %}
	</tbody>
</table>
{% else %}
	{%- set showRank = true -%}
	
	{%- if sites[vertical].unordered -%}
		<ul class="site-list">
	{%- else -%}
		<ol class="site-list">
	{%- endif -%}
	
		{%- for site in results | getSites(sites, vertical, isolatedKeys) | sortCumulativeScore %}
			{%- set newestKey = site | getObjectKey(":newest") %}
			{%- set key = site | getObjectKey %}
			{%- set hundos = 0 %}

			{%- if not site[newestKey].error %}
				{%- set hundos = site[newestKey] | hundoCount %}
				{%- set notGreenCircleCount = site[newestKey] | notGreenCircleCount %}
				{%- if notGreenCircleCount >= 3 and sites[vertical].options and sites[vertical].options.noShame %}{% set showRank = false %}{% endif %}
			{% endif %}
			<li class="site-list_item"{% if not sites[vertical].unordered and site[newestKey].ranks and loop.index != site[newestKey].ranks.cumulative %} data-badrank="true"{% endif %} id="site-{{ site[key].url | shortHash }}"{% if showRank %} data-perfect="{% if hundos === 4 %}true{% else %}false{% endif %}"{% endif %}>
				{%- set hasRedirect = site[newestKey].requestedUrl and site[newestKey].url != site[newestKey].requestedUrl %}
				<a href="{{ site[newestKey].url }}" class="site-list_link">
					{{ site[newestKey].url | displayUrl(hasRedirect) }}
				</a>
				{%- if hasRedirect %}<span>Redirect from <code>{{ site[newestKey].requestedUrl | displayUrl(true) }}</code></span>{% endif -%}
				{%- if site[newestKey].error %}<span>Error</span>{% endif -%}

				{% if showRank %}
					<is-land on:visible class="site-list_scores">
						<speedlify-score class="leaderboard-score-circles{% if hundos === 4 %} leaderboard-score-circles-400{% endif %}" raw-data='{{ site[newestKey] | toJSON | safe }}'></speedlify-score>
					</is-land>
				{% endif %}
			</li>
		{%- endfor %}
	{% if sites[vertical].unordered %}
		</ul>
	{% else %}
		</ol>
	{%- endif -%}
{% endif %}