---
layout: home.njk
---

<div class="leaderboard-wrapper">
	<table class="leaderboard">
		<thead>
			<tr>
				<th>URL</th>
				<th class="leaderboard-score">Lighthouse</th>
			</tr>
		</thead>
		<tbody>
			{% for site in speedlify.sites %}
			<tr class="leaderboard-list-entry" id="{{ site.id }}">
				<td class="leaderboard-url">
					<a href="{{ site.url }}">
						<code class="url">{{ site.url | displayUrl }}</code>
					</a>
				</td>

				<td class="leaderboard-score">
					<dl class="lighthouse">
						<div class="lighthouse_item" data-rating="{{ site.lighthouse.performance | ratingEvaluation }}">
							<dt class="lighthouse_label">Performance</dt>
							<dd class="lighthouse_score">{{ site.lighthouse.performance }}</dd>
						</div>
						<div class="lighthouse_item" data-rating="{{ site.lighthouse.accessibility | ratingEvaluation }}">
							<dt class="lighthouse_label">Accessibility</dt>
							<dd class="lighthouse_score">{{ site.lighthouse.accessibility }}</dd>
						</div>
						<div class="lighthouse_item" data-rating="{{ site.lighthouse.bestPractices | ratingEvaluation }}">
							<dt class="lighthouse_label">Best practices</dt>
							<dd class="lighthouse_score">{{ site.lighthouse.bestPractices }}</dd>
						</div>
						<div class="lighthouse_item" data-rating="{{ site.lighthouse.seo | ratingEvaluation }}">
							<dt class="lighthouse_label">SEO</dt>
							<dd class="lighthouse_score">{{ site.lighthouse.seo }}</dd>
						</div>
					</dl>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
