/* rubik-700 - latin */
// @font-face {
//      font-family: 'Rubik';
//      font-style: normal;
//      font-weight: 700;
//      src: local(''),
//          url('assets/fonts/rubik-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//          url('assets/fonts/rubik-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//      font-display: block;
// }

/* rubik-800 - latin */
// @font-face {
//      font-family: 'Rubik';
//      font-style: normal;
//      font-weight: 800;
//      src: local(''),
//          url('assets/fonts/rubik-v20-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//          url('assets/fonts/rubik-v20-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//      font-display: block;
// }

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src:
		url("assets/fonts/subset-Rubik-Bold.woff2") format("woff2"),
		url("assets/fonts/subset-Rubik-Bold.woff") format("woff");
	font-display: block;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 800;
	src:
		url("assets/fonts/subset-Rubik-ExtraBold.woff2") format("woff2"),
		url("assets/fonts/subset-Rubik-ExtraBold.woff") format("woff");
	font-display: block;
}
