$grey: #f1ece9;
$black: #000;
$white: #fff;
$green: #07783e;
$orange: #ffa400;
$red: #d60000;

/* $font-size-450: 1.2rem;
$font-size-500: 1.44rem;
$font-size-550: 1.728rem;
$font-size-600: 2.074rem; */
$font-size-650: 2.488rem;
$font-size-750: 3.583rem;
