<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pages, Prototypes, Projects</title>
		<meta name="description" content="Pages, prototypes, and projects by Sam Smith">
        <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/rubik-v20-latin-800.woff2">
        <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="/assets/fonts/rubik-v20-latin-700.woff2">
        <style>{{ css | safe }}</style>
    </head>
	<body>
		<h1 class="page-header">
            Pages<br> Prototypes<br> Projects
        </h1>

		{{ content | safe }}

        {%- set js -%}
        {% include "../assets/islands.js" %}
        {% include "../node_modules/speedlify-score/speedlify-score.js" %}
        {% include "../assets/timestamp-ago.js" %}
        {% endset %}
        <script>
        {{ js | jsmin | safe }}
        </script>
	</body>
</html>